body {
    background-color: #12CDC6;
    color: #D67224;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

button {
    padding: 5px 20px;
    background-color:#F7E32A ;
    border-style: none;
    color:#D67224;
}

input {
    height: 24px;
}
